@import  url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@300&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Frank Ruhl Libre', serif;
}
.container {
  max-width: 80%;
  max-height: 50px;
  margin: auto;
}
.flex {
  display: flex;
  justify-content: space-between;
}
ul {
  list-style: none;
}
a {
  list-style: none;
  color: black;
}
/*------------header--------*/
header {
  padding: 20px 0;
}
header ul li {
  display: inline-block;
  margin-left: 30px;
}
header ul li a {
  font-weight: 500;
  transition: 0.5s;
}
header ul li a:hover {
  color: #38d16a;
  font-weight: 500;
}
.logo{
  display: flex;
  max-width: 20px;
  max-height: 40px;
}
.HeaderIcon {
  margin-left: 20px;
  transition: 0.5s;
}

.navbar-items-icon {
  color: #000;
  display: none;
}
header.active {
  position: sticky;
  top: 0;
  left: 0;
  background-color: #fff;
  box-shadow: 0 2px 2bpx rgba(0 0 0 /6%);
  width: 100%;
  z-index: 10;
}
@media screen and (max-width:768px) {
  header .icon {
    display: none;
  }
  .nav-links {
    display: none;
  }
  .nav-links-sidebar {
    position: absolute;
    display: block;
    background-color: #fff;
    left: 50px;
    top: 75px;
    transition: 0.5s;
    width: 100%;
    height: 30vh;
    z-index: 5;
  }
  .nav-links-sidebar{
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
  }
  header ul li{
    margin-bottom: 30px;
  }
  .navbar-items-icon{
    display: block;
    position: absolute;
    right: 30px;
    color: #000;
    border: 1px solid #000 ;
    padding: 5px 10px;
  }
}
/*------------Home--------*/

/* .img{
  display: inline-flex;
  max-width: 100px;
  height: 80px;
} */

.left,
.right {
  width: 50%;
  position: relative;
}
.flex {
  display: flex;
}
.topMargin {
  margin-top: 80px;
}
.home{
  height: 90vh;
}
.home .img {
  height: 90vh;
  width: 100%;
  position: relative;
}
.home img{
  position: absolute;
  top: 30px;
  left: 0;
  height: 90vh;
  width: 100%;
  object-fit: contain;
  transform: scale(1.1);
}
.home h1 {
  font-size: 60px;
}
.socialicon {
  width: 35px;
  height: 35px;
  text-align: center;
  line-height: 35px;
  margin-right: 10px;
  border-radius: 50%;
  transition: 0.5s;
  cursor: pointer;
}
.socialicon i:hover {
  color: #fff;
}
button {
  background: none;
  outline: none;
  border: none;
  color: #fff;
  font-weight: 600;
  font-size: 15px;
  transition: 0.5s;
  cursor: pointer;
}
.primary-btn {
  padding: 15px;
  background: #38d16a;
}
.primary-btn:hover {
  background: #f54ea2;
  box-shadow: 0 13px 27px 0 rgba(245 78 162 /25%);
}
.home .right{
  margin-top: 15%;
}
.home .socialicon {
  margin: 30px 0;
}
.home p {
  margin-bottom: 20px;
}
p {
  color: #1d62d9;
  line-height: 30px;
}
/*------------branding--------*/
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}
.branding {
  background-color: #08071c;
  color: #fff;
  margin-top: 35px;
  padding: 80px 0;
}
.branding h1 {
  font-size: 40px;
  color: #1dd959;
  margin-right: 20px;
}
.branding h2 {
  font-weight: 500;
  font-size: 22px;
  margin: 10px 0 20px 0;
}
.branding p {
  color: #fff;
  opacity: 0.7;
}